{% extends "base.html" %}
{% block title %}
	About 		
{% endblock %}
{% block content %}
<p>
GAppSites was built as a tutorial application for PyOhio 1.0 by Pradeep Gowda.
</p>
<p>This site is inspired by djangosites.org in its intent.</p>
<p>The best thing about GAppSites is, you can use it with almost no setup for creating "Powered by [Your Favourite Frameowrk]" 
	type of website in no time</p>
	
	<h2>Colophon</h2>
	<ul>
	<li>Powered by <a href="http://python.org">Python</a></li>
	<li>Hosted and served by <a href="http://code.google.com/appengine/">Google App Engine</a></li>
	<li>Layout using <a href="http://www.yahooapis.com/yui/grids/">YUI Grids</a></li>
	
	</ul>	
{% endblock %}