{% extends "base.html" %}
{% block title %}
	About 		
{% endblock %}
{% block content %}

<p>
GAppSites, the source that drives zopesites.org  was built as a tutorial application for <a href="http://pyohio.org/">PyOhio 2008</a> by <a href="http://pradeepgowda.com/">Pradeep Gowda</a>.
</p>
<p>This site is inspired by djangosites.org.</p>
<p>The best thing about GAppSites is, you can use it with almost no setup for creating "Powered by [Your Favourite Frameowrk]" 
	type of website in no time</p>
<p>
	The source of this website is downloadable from <a href="http://github.com/btbytes/gappsites/tree/master">github</a>.
</p>
	<h2>Colophon</h2>
	<ul>
	<li>Powered by <a href="http://python.org">Python</a></li>
	<li>Hosted and served by <a href="http://code.google.com/appengine/">Google App Engine</a></li>
	<li>Layout using <a href="http://www.yahooapis.com/yui/grids/">YUI Grids</a></li>
	
	</ul>	
{% endblock %}